#box {
    display:flex;
    background-color: rgb(104, 127, 200);  
    font-family: 'Lato', sans-serif;
  }

#panelDeBotones{
    display:flex;
    background-color: rgb(104, 127, 200);  
    font-family: 'Lato', sans-serif;
  }
  h1 {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
  }

#box2 {
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

#logo {
    height:90px;
    width:100px;
    padding:10px;
}

#login {
    justify-content: center;
    flex-direction:column;
    align-items: center;
    text-align: center; 
    font-family: 'Lato', sans-serif;
}

#crearcuenta {
    justify-content: center;
    flex-direction:column;
    align-items: center;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

ul {
    display: table;
    width: 60%;
}
li {
    font-family: 'Lato', sans-serif;
    display: table-cell;
}

button {
    font-family: 'Lato', sans-serif;
}

#nombre {
    font-family: 'Lato', sans-serif;
}

#contraseña {
    font-family: 'Lato', sans-serif;
}

#contraseña2 {
    font-family: 'Lato', sans-serif;
}

h2 {
    font-family: 'Lato', sans-serif; 
}

body{
    background-color: rgb(110, 193, 162);
}

p {
    font-family: 'Lato', sans-serif;  
}

#desafio{
    background-color: #e4e4d9;
    padding: 1em;
    padding-top: 30px;
    width: 50%;
    height: 180px;
    box-sizing: border-box; 
    border-radius: 25%;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
